* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #8B0000;
    color: white;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 8%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

#menuBtn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.hero {
    height: 85vh;
    background: linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url('https://images.unsplash.com/photo-1519167758481-83f550bb49b3')
    center/cover no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: white;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.btn {
    background: gold;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 70px 8%;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #8B0000;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 250px;
    background: #f4f4f4;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 20px;
}

.gallery-item {
    height: 220px;
    background: #ddd;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box {
    text-align: center;
}

.contact-box p {
    margin: 10px 0;
}

#contactBtn {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #8B0000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

@media(max-width:768px){

    #menuBtn{
        display:block;
    }

    .nav-links{
        display:none;
        flex-direction:column;
        position:absolute;
        top:70px;
        right:20px;
        background:#8B0000;
        padding:20px;
        border-radius:10px;
    }

    .nav-links.active{
        display:flex;
    }

    .hero-content h1{
        font-size:2rem;
    }
}
